// Colors //
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-background: rgb(255, 255, 255);

$color-grey-1: #6F6F6F;
$color-grey-2: #4D4D4D;

$color-green: #47B473;

$color-purple: #33313E;